body{
  margin:0;
  background:#020617;
  color:#fff;
  font-family:sans-serif;
}

.center{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.logo{width:220px}
.logo-small{width:120px}

.hero{
  width:100%;
  max-height:220px;
  object-fit:cover;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:14px;
  padding:20px;
}

.brand{
  height:110px;
  border-radius:14px;
  background-size:70%;
  background-repeat:no-repeat;
  background-position:center;
}

.full{grid-column:1/3}

.apple{background-image:url("../images/brands/apple.jpg")}
.googleplay{background-image:url("../images/brands/googleplay.jpg")}
.steam{background-image:url("../images/brands/steam.jpg")}
.playstation{background-image:url("../images/brands/playstation.jpg")}
.xbox{background-image:url("../images/brands/xbox.jpg")}

.card-img{
  width:90%;
  max-width:320px;
  display:block;
  margin:20px auto;
}

.main-btn{
  background:#22c55e;
  color:#000;
  padding:14px;
  border:none;
  border-radius:12px;
  width:90%;
  margin:10px auto;
  display:block;
}

.back{
  position:fixed;
  top:10px;
  left:10px;
}