body{
  background:#020617;
  color:#fff;
  font-family:Arial, sans-serif;
  padding:20px;
  text-align:center;
}

select, button{
  width:100%;
  max-width:300px;
  margin:10px auto;
  padding:12px;
  border-radius:10px;
  border:none;
  font-size:16px;
}

button{
  background:#1da1f2;
  color:#fff;
}

.card-preview{
  margin:20px auto;
  max-width:300px;
}

.card-preview img{
  width:100%;
  border-radius:12px;
}
