body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

.logo { height: 40px; }

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.hero img { max-width: 350px; }

.btn {
  background: #22c55e;
  padding: 10px 25px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  background: #22c55e;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
}
