body{
  background:#020617;
  color:#fff;
  font-family:Arial;
  padding:15px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{height:70px}
.lang{background:#1e293b;color:#fff;border:none;padding:8px 12px;border-radius:8px}

.brands{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-top:20px;
}

.brand{
  background:#0f172a;
  border-radius:16px;
  padding:20px;
}

.brand img{
  width:100%;
}

.brand.full{
  grid-column:1/3;
}

.card-box img{
  width:100%;
  border-radius:16px;
  margin-bottom:15px;
}

select,button{
  width:100%;
  padding:14px;
  margin:8px 0;
  border-radius:12px;
  border:none;
}

button{
  background:#22c55e;
  color:#fff;
  font-size:18px;
}

footer{
  text-align:center;
  margin-top:30px;
}

footer a{
  color:#94a3b8;
  margin:0 8px;
  text-decoration:none;
}

.back{
  color:#38bdf8;
  text-decoration:none;
}
